{% block offer_block %}
{% spaceless %}
<div class="navbar-text pull-right">
<span>&nbsp;<a href="{{ path('zw_offers_import') }}">{{ 'Обновить список приложений'|trans }}</a></span>
</div>
{% endspaceless %}
{% endblock %}